<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="partials/styles/headersyle.css">
    <!--Maths--> 
<div style= "text-align: center;">           
    <button type="button" class="btn  dropdown" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
                        Maths
                </button>
                <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Calc AB</a>
                        <a class="dropdown-item" href="#">Calc BC</a>
                        <a class="dropdown-item" href="#">Stats</a></div>
    <!--Sciences-->
    <span>
    <button type="button" class="btn  dropdown" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
            Sciences
    </button>
    <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Chemisrty</a>
            <a class="dropdown-item" href="#">EA Science</a>
            <a class="dropdown-item" href="#">Physics 1</a>
            <a class="dropdown-item" href="#">Physics C</a></div>
    </span> 
    <!-- Languages -->
    <span>
        <button type="button" class="btn  dropdown" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
                Languages
        </button>
        <div class="dropdown-menu">
                <a class="dropdown-item" href="#">French</a>
                <a class="dropdown-item" href="#">Spanish</a>
                <a class="dropdown-item" href="#">Latin</a>
                <a class="dropdown-item" href="#">Italian</a>
        </div>
    </span>
    
</div>

                    
  
</head>
<body>
     